<h2>Forex Converter</h2>
<form>
  <label for="fromCurrency">Source CCY:</label>
  <select [(ngModel)]="fromCurrency" name="fromCurrency" id="fromCurrency">
    <option *ngFor="let rate of exchangeRates" [value]="rate.id">{{ rate.id }}</option>
  </select>

  <label for="toCurrency">Target CCY:</label>
  <select [(ngModel)]="toCurrency" name="toCurrency" id="toCurrency">
    <option *ngFor="let rate of exchangeRates" [value]="rate.id">{{ rate.id }}</option>
  </select>

  <label for="amount">Amount (Rs):</label>
  <input [(ngModel)]="amount" type="number" name="amount" id="amount">

  <button (click)="convertCurrency()" type="button" id="submitButton">Convert</button>
</form>

<div *ngIf="result !== null" id="result">
  Converted Amount: {{ result | number:'1.2-2' }}
</div>