<h1>{{today | date: "fullDate"| uppercase}}</h1> 
<br> 
 
Converted Amount 
<br> 
<br> 
From 
<select  id="fromCurrency" [(ngModel)]="value1"> 
  <option value="1.126735">USD</option> 
  <option value="0.876893">GBP</option> 
  <option value="79.677056">INR</option> 
</select> 
<br /><br /> 
To 
<select id="toCurrency" [(ngModel)]="value2"> 
  <option value="1.126735">USD</option> 
  <option value="0.876893">GBP</option> 
  <option value="79.677056">INR</option> 
</select> 
<br> 
<br> 
<h2>Enter Amount</h2> 
<input id="amount" type="text" [(ngModel)]="amount1"/> 
<br> 
<br> 
<button #submitButton id="submitButton" (click)="handle(value1,value2,amount1)">Submit</button> 
<p id="result" [(ngModel)]="result" ngDefaultControl>{{result}}</p> 
<p id="resValue" [(ngModel)]="r1" ngDefaultControl>{{r1}}</p>